.footer {
  background-color: var(--color-primary);

  &__container {
    padding: 1.5rem 1rem;
    text-align: center;

    p {
      color: var(--color-background);

      a {
        color: var(--color-background);
        font-family: var(--font-text);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
