$color-primary: #363062;
$color-secondary: #435585;
$color-tertiary: #818fb4;
$color-background: #f5e8c7;

$font-text: 'Inter Variable', system-ui, sans-serif;
$font-tittle: 'Montserrat Variable', system-ui, sans-serif;
