@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-family: $font-text;
}

a {
  text-decoration: none;
  font-family: $font-title;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  text-wrap: balance;
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
}
