<main class="main">
  <div class="main__container">
    <!-- Sección de detalles -->
    <section class="detail" *ngIf="currentWeather">
      <div class="information">
        <h2>
          {{ currentWeather.name }}
          <span>{{ currentDate }}</span>
        </h2>
        <ul>
          <li>
            <strong>Temperatura:</strong>
            <p>{{ currentWeather.main.temp }}°C</p>
          </li>
          <li>
            <strong>Viento:</strong>
            <p>{{ currentWeather.wind.speed }} M/S</p>
          </li>
          <li>
            <strong>Humedad:</strong>
            <p>{{ currentWeather.main.humidity }}%</p>
          </li>
          <li>
            <strong>Visibilidad:</strong>
            <p>{{ currentWeather.visibility / 1000 }} KM</p>
          </li>
          <li>
            <strong>Nubes:</strong>
            <p>{{ currentWeather.clouds.all }}%</p>
          </li>
          <li>
            <strong>Presión:</strong>
            <p>{{ currentWeather.main.pressure }} hPa</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="forecast" *ngIf="forecast.length">
      <h2>Próximos pronósticos:</h2>
      <div class="forecast-day">
        <div class="day" *ngFor="let day of forecast">
          <h3>
            {{ day.day }}
            <span>{{ day.date }}</span>
          </h3>
          <p>Temperatura: {{ day.main.temp }}°C</p>
          <p>Viento: {{ day.wind.speed }} M/S</p>
          <p>Humedad: {{ day.main.humidity }}%</p>
        </div>
      </div>
    </section>
  </div>
</main>
