<main class="main">
  <div class="main__container">
    <section class="detail">
      <div class="information">
        <h2>New York | 2025-01-23</h2>
        <ul>
          <li>
            <strong>Temperatura:</strong>
            <p>-7.07°C</p>
          </li>
          <li>
            <strong>Viento:</strong>
            <p>1.23 M/S</p>
          </li>
          <li>
            <strong>Humedad:</strong>
            <p>42%</p>
          </li>
          <li>
            <strong>Visibilidad:</strong>
            <p>10.0 KM</p>
          </li>
          <li>
            <strong>Nubes:</strong>
            <p></p>
          </li>
          <li>
            <strong>Presión:</strong>
            <p></p>
          </li>
        </ul>
      </div>
      <figure class="icon">
        <img src="" alt="" />
      </figure>
    </section>
    <section class="forecast">
      <h2>Próximos pronósticos:</h2>
      <div class="forecast-day">
        <div class="day">
          <h3>2025-01-24</h3>
          <p><strong>Temperatura:</strong> 22.58°C</p>
          <p><strong>Viento:</strong> 4.55 M/S</p>
          <p><strong>Humedad:</strong> 75%</p>
        </div>
        <div class="day">
          <h3>2025-01-24</h3>
          <p><strong>Temperatura:</strong> 22.58°C</p>
          <p><strong>Viento:</strong> 4.55 M/S</p>
          <p><strong>Humedad:</strong> 75%</p>
        </div>
        <div class="day">
          <h3>2025-01-24</h3>
          <p><strong>Temperatura:</strong> 22.58°C</p>
          <p><strong>Viento:</strong> 4.55 M/S</p>
          <p><strong>Humedad:</strong> 75%</p>
        </div>
        <div class="day">
          <h3>2025-01-24</h3>
          <p><strong>Temperatura:</strong> 22.58°C</p>
          <p><strong>Viento:</strong> 4.55 M/S</p>
          <p><strong>Humedad:</strong> 75%</p>
        </div>
        <div class="day">
          <h3>2025-01-24</h3>
          <p><strong>Temperatura:</strong> 22.58°C</p>
          <p><strong>Viento:</strong> 4.55 M/S</p>
          <p><strong>Humedad:</strong> 75%</p>
        </div>
      </div>
    </section>
  </div>
</main>
