<main class="main">
  <div class="main__container">
    <section class="detail">
      <div class="information">
        <h2>New York | 2025-01-23</h2>
        <p><strong>Temperature:</strong> -7.07°C</p>
        <p><strong>Wind:</strong> 1.23 M/S</p>
        <p><strong>Humidity:</strong> 42%</p>
        <p><strong>Visibility:</strong> 42%</p>
      </div>
      <figure class="icon">
        <img src="" alt="" />
      </figure>
    </section>
    <section class="forecast">
      <h2>Próximos pronósticos:</h2>
      <div class="forecast-day">
        <div class="day">
          <h3>2025-01-24</h3>
          <p><strong>Temp:</strong> 22.58°C</p>
          <p><strong>Wind:</strong> 4.55 M/S</p>
          <p><strong>Wind:</strong> 75%</p>
        </div>
        <div class="day">
          <h3>2025-01-24</h3>
          <p><strong>Temp:</strong> 22.58°C</p>
          <p><strong>Wind:</strong> 4.55 M/S</p>
          <p><strong>Wind:</strong> 75%</p>
        </div>
        <div class="day">
          <h3>2025-01-24</h3>
          <p><strong>Temp:</strong> 22.58°C</p>
          <p><strong>Wind:</strong> 4.55 M/S</p>
          <p><strong>Wind:</strong> 75%</p>
        </div>
        <div class="day">
          <h3>2025-01-24</h3>
          <p><strong>Temp:</strong> 22.58°C</p>
          <p><strong>Wind:</strong> 4.55 M/S</p>
          <p><strong>Wind:</strong> 75%</p>
        </div>
      </div>
    </section>
  </div>
</main>
