.main {
  height: 100%;
  background-color: var(--color-tertiary);

  &__container {
    padding: 2rem 1rem;

    .detail {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 2rem 1.2rem;
      border-radius: 12px;
      background-color: var(--color-secondary);

      h2 {
        font-size: 2rem;
        font-weight: 900;
        color: var(--color-background);
      }

      p {
        margin: 0.4rem 0;
        color: var(--color-background);
      }
    }

    .information ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      list-style: none;

      li {
        margin: 1rem 0;
        color: var(--color-background);
      }
    }

    .forecast h2 {
      margin: 1.5rem 0;
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--color-background);
    }

    .forecast-day {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      gap: 1rem;

      .day {
        padding: 1.2rem;
        border-radius: 10px;
        background-color: var(--color-secondary);

        h3 {
          font-size: 1.3rem;
          font-weight: 900;
          color: var(--color-background);
        }

        p {
          margin: 0.8rem 0;
          color: var(--color-background);
        }
      }
    }
  }
}
